body {
  font-size: 2rem;
  text-shadow: 2px black;
}

h1 {
  text-align: center;
}

.letters-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

.letter-box {
  width: 62px;
  height: 62px;
  background-color: #E2F2DC;
  color: #51913D;
  box-shadow: 2px 2px 8px #51913D;
  border: 1px solid #51913d;
  border-radius: 4px;
  text-align: center;
  font-size: 40px;
  margin: 16px;

  &:hover {
    cursor: pointer;
  }
}

.word-input {
  height: 32px;
  width: 50%;
  font-size: 24px;
}

.btn {
  width: 10%;
  height: 48px;
  margin-left: 16px;
  letter-spacing: 0.2rem;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
  }
}
